.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #0a8a06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #035d0f;
  border-color: #035d12;
  color: white;
}

.actions .button {
  background-color: #068a18;
  color: white;
}
.submitting {
  text-align: center;
  color: #068a1c;
  font-size: 20px;
  font-weight: 700;
}
