.form {
  margin: 1rem 0;
  height: 15rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  margin-bottom: 0.3rem;
  display: block;
  text-align: center;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 75%;
  margin: 0 10%;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: #068a27;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #068a1c;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ccc;
}

.actions .submit {
  border: 1px solid #068a23;
  background-color: #068a23;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #035d1e;
  border-color: #035d16;
  color: white;
}

.invalid label {
  color: red;
}

.invalid input {
  border-color: red;
  background-color: #dccccc;
}
