.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #065f24e8;
  color: white;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.button:hover,
.button:active {
  background-color: #023910;
  transition: all 0.3s ease 0s;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  transition: all 0.3s ease 0s;
}

.badge {
  background-color: #2b8b4be8;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  margin-left: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.button:hover .badge,
.button:active .badge {
  background-color: #1f6430;
  transition: all 0.3s ease 0s;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
